<% main_thing ? thing_description_class = "thing_description" : thing_description_class = "main_thing_description" %>

<div id="thing_<%= thing.id %>" onmouseover="Element.show('aux_info_<%=thing.id%>');
																						 Element.hide('aux_info_spacer_<%=thing.id%>');" 
																
																onmouseout="Element.hide('aux_info_<%=thing.id%>');
																						Element.show('aux_info_spacer_<%=thing.id%>');" class="thing">

	<% @i ? colour_class = Form.colour(@i) : colour_class = ""  %>
	<span class="<%=thing_description_class%> <%=colour_class%>">
		<%= "<a href='/thing/#{thing.identifier}'>" if main_thing %>
		
			<!-- description -->
			<% if !main_thing %>
				<strong><%= Form.indefinite_article(thing.body) if thing.pronoun != 1 %> <%= thing.inflected_body(1) %></strong>
				<span class="unit_category_intro"><%= thing.unit.category.intro %></span>
			<% else %>
				<% multiple = thing.multiple(main_thing) %>
				<strong><%= Maths.vagarise(multiple) %></strong>
				<%= thing.inflected_body(multiple) %>
			<% end-%>

		<%= "</a>" if main_thing %>

		<!-- auxiliary information -->
		<%= render :partial => 'thing/aux_info', :locals => { :main_thing => main_thing, :thing => thing, :country => country } %>
			
	</span>
	<br/>
</div>