<html> 
	<head>
		<!-- title -->
		<% @title = nil if !Util.ne(@title) %>
		<title>kisses <%= " - " + @title if @title %></title>
		
		<%= javascript_include_tag 'application', 'prototype', 'effects', 'controls' %>
		<%= stylesheet_link_tag "main", :media => "all" %>
		<meta name = "viewport" content = "width=device-width">
	</head> 
	
	<body>
		<%= render(:partial => 'shared/header') %><br/>
		
		<%= @content_for_layout %>
				
		<%= render(:partial => 'shared/footer') %>
		<%= render(:partial => 'shared/analytics')%>
	</body>
</html>